version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mean-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mean-backend
    restart: always
    environment:
      - MONGODB_URI=mongodb://mongo:27017/mean-crud-db
      - PORT=3000
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: mean-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:4200"

  nginx:
    image: nginx:alpine
    container_name: mean-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:
